<section class="listing">
    <img class="listing-photo" [src]="station.petrolStationPicture" alt="Exterior photo of {{ station.rotulo }}">
    <h3 class="listing-heading">{{ station.rotulo }}</h3>
    <p class="listing-location">{{ station.municipio }}, {{ station.localidad }}</p>
    <p class="listing-location">{{ station.address }}</p>

    @if(!station.gasolina95E5[1]){
        <p>
            <span class="listing-price">Gasolina 95 E5: </span>{{ station.gasolina95E5[0] }} €/litro
        </p>
    }  
    @if(!station.gasolina95E5E85[1]){
        <p>
            <span class="listing-price">Gasolina 95 E5 E85: </span>{{ station.gasolina95E5E85[0] }} €/litro
        </p>
    } 
    @if(!station.gasolina95E5Premium[1]){
        <p>
            <span class="listing-price">Gasolina 95 E5 Premium: </span>{{ station.gasolina95E5Premium[0] }} €/litro
        </p>
    }
</section>
