.listing {
  background: var(--accent-color);
  border-radius: 5px;
  padding-bottom: 5px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 50px;
  width: 10%;
  object-fit: cover;
  border-radius: 5px;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url("/assets/img/location_on.svg");
}
.listing-price {
  color: var(--primary-color);
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
