# exclude env files
*.env
env

# exclude coverage files
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# exclude .git folder
.git

# exclude node_modules folder
node_modules

# exclude log files
*.log

# exclude dockerfiles
*Dockerfile*
*containerfile*
*docker-compose*
Docker/*

# exclude test files
/test/

# exclude temporary files
*.tmp
