##------------------------------------------------##
##              Anchors definitions               ##
##------------------------------------------------##
x-logging: &logging
    logging:
        driver: "json-file"
        options:
            max-size: 10m
            max-file: "3"
            compress: "true"

x-network: &unir-network
    networks:
        - unir

x-envfiles: &env-files
    env_file:
        - env

##------------------------------------------------##
##             Networks definitions               ##
##------------------------------------------------##
networks:
  unir:
    driver: bridge

##------------------------------------------------##
##             Services definitions               ##
##------------------------------------------------##
services:
  web:
    <<: [*logging, *unir-network, *env-files]
    build:
      context: ..
      dockerfile: ./Docker/Dockerfile
      target: production
      args:
        _base_image_: docker.io/node:25.2.1
    container_name: web
    hostname: web
    image: unir/gii-per-12824/desarrollo-aplicaciones-red/actividad02:production
    restart: unless-stopped
    stdin_open: true
    ports:
      - 80:80/tcp
      - 443:443/tcp
