<div class="mat-elevation-z24">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Selecciona página para estaciones de servicio">
  </mat-paginator>
  
  <table mat-table [dataSource]="data">
    @for(column of columns; track column) {
      <ng-container [matColumnDef]="column.label">
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row, columns: displayedColumns"></tr>
  </table>
</div>