:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 100px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 100px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

.header-custom {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%; 
}

.home-logo {
  position: absolute;
  display: flex;
  height: 100px;
  top: 10px;
  left: 10px;
  align-content: stretch;
  justify-content: center;  
  padding: 10px 10px 10px 10px;
}

.header-grid{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  top: 25px;
  right: 25px;
  height: 100px;
  padding: 10px 10px 10px 10px;
  column-gap: 20px;
}

.linkedin-logo {
  display: flex;
  height: 60px;
  width: 60px;
}

.github-logo {
  display: flex;
  height: 60px;
  width: 60px;
}