.article-photo {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .article-photo {
    width: 100%;
    height: 400px;
  }
}

.article-body {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  font-size: 18px;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 10%;
  padding-bottom: 20%
}

.post-title {
  font-size: 64pt;
  font-weight: bold;
  margin-bottom: 15px;
  padding-right: 25%;
  padding-left: 25%;
}

.author-date {
  font-size: 32pt;
  margin-bottom: 15px;
  padding-right: 25%;
  padding-left: 25%;
}

.article-paragraph {
  font-size: 18pt;
  line-height: 2.0;
  font-family: Lato;
  padding-right: 25%;
  padding-left: 25%;
  background-color: rgba(255, 255, 255, 1);
}
