<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div>
  <label>Your current position is (latitude, longitude): </label>
  <output type="string" id="latitude" name="latitude"> {{ (coor$ | async)?.coor?.latitude }}º </output>
  <output type="string" id="longitude" name="longitude"> {{ (coor$ | async)?.coor?.longitude }}º </output>
</div>

<div>
  <label for="radius">Circle Radius (meters): </label>
  <input type="number" id="radius" name="radius" [ngModel]="(coor$ | async)?.radius" min="1" max="99999" (ngModelChange)="mapRadius = $event"/>
  <button (click)="updateCircle()">Update Circle</button>
</div>

<!-- <app-eessavailable-table [radius]="(coor$ | async).radius" [stations]='(petrolStation$ | async)'></app-eessavailable-table> -->