#map {
  height: 400px;
  width: 80%;
  margin: 20px 0;
  border-radius: 10px;
  z-index: 1;
}

.results {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 10px;
  justify-content: space-around;
}
